
.PostTitle{
  width:60%;
  padding: 1.5rem;
  margin:auto;

  background-color: #FAFAFA;
  padding-top : 0.8rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Title {
    font-size: 1rem;
    height: 3rem;

    width: 55%;
    float:left;
}

.Writer {
    font-size: 1rem;
    height: 3rem;
    text-align: center;
    width: 25%;
    float:left;
}

.Time {
    font-size: 0.8rem;
    height: 3rem;
    width: 20%;
    display : inline;
}
