.WriteForm{
  width:95%;
  margin:auto;
}

.PostEditor {
    padding: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: #FAFAFA;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.PostTitle {
    font-size: 2rem;
    width: 100%;
    height: 3rem;
}

.PostContents {
    font-size: 1.2rem;
    width: 100%;
}

.PostWriter {
    font-size: 1.2rem;
    width: 100%;
}

.PostPost{
  float:right;
  display: inline-block;
}

.ClickButton{
  background-color: #FAFAFA;
  display: inline-block;
  margin: 0.5rem;
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
